*{
    box-sizing: border-box;
}
html, body, #root{
    width: 100%;
    scrollbar-width: none;
}

html{
    background-color: rgb(29, 29, 29);
    color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
}

// Helvetica Fonts 
@font-face {
    font-family: 'Helvetica-Reg';
    src: url("../assets/fonts/Helvetica-Fonts/Helvetica.ttf");
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url("../assets/fonts/Helvetica-Fonts/Helvetica-Bold.ttf");
}

@font-face {
    font-family: 'Helvetica-Comp';
    src: url("../assets/fonts/Helvetica-Fonts/helvetica-compressed-5871d14b6903a.otf");
}

// Gilroy Fonts
@font-face {
    font-family: 'Gilroy-Thin-Italic';
    src: url("../assets/fonts/Gilroy-fonts/Gilroy-ThinItalic.ttf");
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url("../assets/fonts/Gilroy-fonts/Gilroy-Light.ttf");
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url("../assets/fonts/Gilroy-fonts/Gilroy-Medium.ttf");
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url("../assets/fonts/Gilroy-fonts/Gilroy-Bold.ttf");
}


// Apple fonts
@font-face {
    font-family: 'Apple-Regular';
    src: url("../assets/fonts/Apple-fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
    font-family: 'Apple-Medium';
    src: url("../assets/fonts/Apple-fonts/SFPRODISPLAYMEDIUM.OTF");
}
@font-face {
    font-family: 'Apple-Bold';
    src: url("../assets/fonts/Apple-fonts/SFPRODISPLAYBOLD.OTF");
}